******************************
*                            *
* DRILL TAPE SUMMARY REPORT  *
*                            *
* G:\DRM V3R5\DRM1-33_N.MAX  *
* Thu Dec 29 10:00:32 2011   *
*                            *
******************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      30       200      100                                                                                 
T2       310      193      200      100                                                                                 
T3       340      52       200      100                                                                                 
T4       350      49       200      100                                                                                 
T5       370      28       200      100                                                                                 
T6       390      22       200      100                                                                                 
T7       430      4        200      100                                                                                 
T8       540      8        200      100                                                                                 
T9       580      54       200      100                                                                                 
T10      700      17       200      100                                                                                 
T11      800      3        200      100                                                                                 
T12      900      2        200      100                                                                                 
T13      1200     4        200      100                                                                                 
T14      1500     8        200      100                                                                                 
