SCHEMATIC START ;
// created by map version G.23 on Wed May 20 12:11:12 2009 
COMP "clk" LOCATE =  SITE "P77" LEVEL 1; 
COMP "dipsw<0>" LOCATE =  SITE "P188" LEVEL 1; 
COMP "dipsw<1>" LOCATE =  SITE "P189" LEVEL 1; 
COMP "dipsw<2>" LOCATE =  SITE "P192" LEVEL 1; 
COMP "pulseout" LOCATE =  SITE "P86" LEVEL 1; 
COMP "sw1" LOCATE =  SITE "P36" LEVEL 1; 
COMP "modified_freq" LOCATE =  SITE "P71" LEVEL 1; 
COMP "noisepulse" LOCATE =  SITE "P84" LEVEL 1; 
SCHEMATIC END ;
