******************************
*                            *
* DRILL TAPE SUMMARY REPORT  *
*                            *
* G:\DRM V3R3\DRM1-26.MAX    *
* Wed Dec 14 09:37:26 2011   *
*                            *
******************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      33       200      100                                                                                 
T2       310      246      200      100                                                                                 
T3       340      52       200      100                                                                                 
T4       370      7        200      100                                                                                 
T5       390      22       200      100                                                                                 
T6       430      4        200      100                                                                                 
T7       540      8        200      100                                                                                 
T8       580      46       200      100                                                                                 
T9       700      18       200      100                                                                                 
T10      900      5        200      100                                                                                 
T11      1200     4        200      100                                                                                 
T12      1500     12       200      100                                                                                 
